<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="./notepad0.js"></script>

    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="content">
    
      <!-- <div style="width: 100px; height: 80px; border:1px solid blueviolet" >
        {{activityFile}}
        </div> -->
     
      <section class="section">
        <button class="mainButton" id="newFileButtonId">새 파일</button>
        <button class="mainButton" id="loadButtonId">열기</button>
        <button class="mainButton" id="saveButtonId">저장</button>
        <button class="mainButton" id="saveAsButtonId">저장(NEW)</button>
        <button class="mainButton" id="deleteButtonId">삭제</button>
        <button class="mainButton" id="logoutButtonId">로그아웃</button>
      </section>
      <main class="tab_menu">
        <ul class="list" id="ulId"></ul>
      </main>
      

    </div>

    <script>
       let myNotepad = new Notepad();
       //let myMakeTab = new MakeTab();
      //  let newFileButton = document.getElementById("newFileButtonId");
      //  newFileButton.addEventListener("click", function(){
      //   let myMakeTab = new MakeTab();
      //  });
   

  
    </script>
  </body>
</html>
