* {
  margin: 0;
  padding: 0;
}

section {
  margin: 30px 0 50px 30px;
}

.mainButton {
  background-color: beige;
  border: 1px solid beige;
  width: 100px;
  height: 30px;
}

button {
  font-size: 8px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  padding-left: 3px;
}

.tab_menu {
  margin-left: 30px;
  position: relative;
  width: 400px;
}

.tab_menu .list {
  overflow: hidden;
}

.tab_menu .list li {
  float: left;
  margin-right: 1px;
  border: 1px solid black;
}

.tab_menu .list .cont {
  display: none;
  position: absolute;
  left: 0px;
  top: 20px;
  border: 1px solid black;
  width: 400px;
  height: 300px;
  line-height: 20px;
}

.tab_menu .list .btn {
  font-size: 12px;
}

.tab_menu .list li .btn .fileName {
  display: inline;
}

.tab_menu .list .is_on {
  background-color: beige;
}

.tab_menu .list li.is_on .cont {
  display: block;
}

.tab_menu .list li .XButton {
  margin-right: 3px;
}

.tab_menu .list li .indi {
  color: red;
  display: none;
}
