.main{
  position: fixed;
  left: 20px;
}

.mainButton{
  margin-right: 10px;
  background-color: burlywood;
  border: 1px solid burlywood;
  height: 50px;
  width: 80px;
}
.memo {
  position: fixed;
  top: 150px;
  left: 20px;
}

.memo-tabs {
  display: flex;
  width: 800px;
  overflow-x: auto;
}

.tab {
  cursor: pointer;
  margin-right: 5px;
  padding: 2px;
  border: 1px solid black;
  min-width: 80px;
}

.active {
  background-color: bisque;
}


.close {
  margin-right: 3px;
  margin-left: 3px;
  border: 1px solid black;
  
}

.memo-editor {
  margin-top: 10px;
}
textarea{
  height: 300px;
}

.memo-editor input,
.memo-editor textarea {
  width: 100%;
  margin-bottom: 10px;
}

.indicator{
  color:red;
}